* {
  width: auto;
  margin-left: 75px;
  margin-right: 75px;
}

fieldset {
  border: none;
  background-image: url("../images/list-bg.png");
  background-repeat: no-repeat;
}

table td {
  text-align: left;
}

td {
  font-family: 'MS Comic Sans', cursive;
}

.done {
  text-decoration: line-through;
}

hr {
  height: 5px;
  padding: 0;
  border: none;
  text-align: center;
}

hr::after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  padding: 0 0.25em;
}

.button {
  color: white;
  border: none;
  background-color: #d8652f;
  text-decoration: none;
  width: 150px;
  height: 40px;
  float: right;
}

footer {
  font-size: 10px;
  text-align: center;
  line-height: 2px;
}

.description {
  font-family: sans-serif;
  font-size: 10px;
  color: grey;
}

#print {
    float: right;
}

.rec-title{
  width: 40;
  height:40;
  align: left;
  line-height: 60%;
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
}

#logo {
  float: left;
}

.img{
  float: right;
}

.img2{
  float: right;
}

h1{
  font-family: 'Oswald', sans-serif;
  line-height: 70%;
}

.date{
  font-size: 10px;
  color: #D3D3D3;
}

.title{
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
